* {
    --color1: rgba(165, 117, 72, 1);
    --color2: rgba(252, 215, 173, 1);
    --color3: rgba(246, 194, 139, 1);
    --color4: rgba(82, 150, 165, 1);
    --color5: rgba(130, 221, 240, 1);
}
h1 {
    color: var(--color1);
}

h2,
h4 {
    color: var(--color3);
}
li {
    color: var(--color3);
}

.bold {
    font-weight: bold;
}

body {
    font-family: 'Space Mono', monospace;
    font-family: 'Square Peg', cursive;
    font-size: 18px;
    background: var(--color4);
}